.container{
     background-color: aqua;
    width: 1000px;
    height: 1000px;
    border: 1px solid color black; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .box{
    background-color:yellow;
    width: 200px;
    height: 200px;
    border: 1px solid green ;
    display: flex;
}

.box:nth-child(7){
    background-color: rgb(228, 224, 7);
    order: -1;
} 
 /* .box{
    background-color:yellow;
    width: 200px;
    height: 200px;
    border: 1px solid green ;
   flex-direction: row;
} */

/* .wrapper{
    display: flex;
}  */
/* body{
    width: 800px;
}
.start{
    display: flex;}
    .two{
        display: flex;
    }
    .three{
        display: flex;
    }
    .four{
        display: flex;
    }
    .five{
        display: flex;
    }
    .box{
        background-color:yellow;
        width: 200px;
        height: 200px;
        border: 1px solid green ;
    }
    .start{
        .box:nth-child(2){
            background-color: green;
          
        } 
        .box:nth-child(4){
            background-color: green;
          
        } 
    }
    .two{
       justify-content: space-between;
       .box:nth-child(1){
        background-color: green;
    } 

    }
    .three{
        .box:nth-child(2){
            background-color: green;
        } 
        .box:nth-child(4){
            background-color: green;
        } 
    }
    .four{
        justify-content: space-between;
        .box:nth-child(1){
            background-color: green;
        } 
     }
     .five{
        justify-content: space-between;
        .box:nth-child(1){
            background-color: green;
        } 
     } */